<!DOCTYPE html>
<html>
    <head>


    </head>

    <body>
        <form action="/view" method="GET">
            
            <label for="style"> choose a style :</label>

            <select name="style" id="style">
                <option value="kids">Kids Party </option>
                <option value="cat">Cat </option>
                <option value="scroll">Scroll </option>
            </select>

            <div>
            <label for="event"> Event Name : </label>
            <input name="event" id="event" placeholder="Birthday Party" required>
            </div> 

            <div>
            <label for="to"> Whom do you want to Invite? : </label>
            <input name="to" id="to" placeholder="Friend" required>
            </div> 

            <div>
            <label for="date"> what date is the event? : </label>
            <input type="date" id="date" name="date" required>
            </div>

            <div>
            <label for="time"> What time is the event : </label>
            <input type="time" id="time" name="time" required>
            </div> 

            <!-- <div>
            <label for="date"> what date is the event? : </label>
            <input name="date" id="event" placeholder="42nd of Mocktober" required>
            </div> 

            <div>
            <label for="time"> What time is the event : </label>
            <input name="time" id="time" placeholder="3 PM" required>
            </div>    -->

            <div>
            <label for="sender"> Your Name : </label>
            <input name="sender" id="sender" placeholder="Raghu" required>
            </div> 

            <div>
                <button> Make my Invitation !!! </button>
            
            </div>

        </form>

    </body>
</html>