<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/kids-style.css">
    </head>
        <body>
            <div id="invite">
            <h3>Dear {{ to }},</h3>

                <p>COME ALONG AND HAVE A GREAT TIME AT THE <strong>{{ event_name }}</strong><br>
                    <strong>Date:</strong> {{ date }} <br>
                    <strong>Time:</strong> {{ time }}<br>           
                <p>See you there!</p>
                <p><em> {{ sender }} </em><br></p>//

                <button id="rspv-button" onclick="sendRsvp(this.value)" value="{{ to }}, {{ eventId }}"> I will be there </button>
                <h2 id="see you there" hidden="true"> GREAT!!! We will see you there ! 💃 </h2>
            </div>
        </body>

        
    
    <script src="/static/rspv.js"></script>    

</html>


