<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/kids-style.css">
    </head>
        <body>
            <div id="invite">
            <h3>Dear Friends,</h3>

                <p>We are excited to invite you to our upcoming <strong>Mahima's party!</strong><br>
                    <strong>Date:</strong> 1st October 2026<br>
                    <strong>Time:</strong> 6 PM<br>           
                <p>See you there!</p>
                <p><em> Raghavendra Rao S K </em><br></p>
            </div>
        </body>


</html>


